@import 'reset.css';

*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    height: 60vh;
    width: 50%;
    background-color: gray;
    border: 3px solid black;
}

#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 60%;
    background-color: rgba(245, 245, 245, 0.9);
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    border: 3px solid black;
}